<!DOCTYPE html>
<html>
 <head>
  <% include ../partials/head %>
 </head>
 <body>
  <% include ../partials/nav %>
  <div class="container home home-welcome">
   <div class="jumbotron">
    <h1>테스트 홈페이지</h1>
    <P><a href="http://www.archivsoft.com/">(주)아키브소프트</a> 김익현 주임입니다.</p>
   </div>
  </div>
 </body>
</html>
